@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Oswald", sans-serif;
  color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

.container {
  position: relative;
  height: 100vh;
}

/* navigation style */
nav {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  width: 100%;
  height: 7vh;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  text-decoration: none;
  color: rgb(197, 195, 195);
}

/* the main landing page */
.landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.landing-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../images/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  min-height: 100%;
}

.landing-page h1 {
  position: relative;
  font-size: 5em;
  line-height: 2em;
  letter-spacing: 3px;
  text-shadow: 3px 3px 1px black;
}

.landing-page h3 {
  position: relative;
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-shadow: 3px 3px 1px black;
}

.landing-page p {
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 0 140px;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

/* music page style */

.music-page {
  position: relative;
  z-index: 1;
  height: 140vh;
  background: #444;
}

.music-page .music-text-1 {
  text-align: center;
  font-size: 3em;
  padding: 7vh 0 5vh 0;
}

.music-page .music-text-2 {
  text-align: center;
}

.music-page p {
  text-align: center;
  font-size: 24px;
  padding: 40px 140px;
}

.music-page li {
  text-align: center;
  list-style: none;
}

.music-page a {
  text-decoration: none;
  color: white;
  background: rgb(173, 1, 1);
  padding: 15px 35px;
  transition: 0.3s;
}

.music-page a:hover {
  background: rgb(223, 5, 5);
}

.music-page .music-pic {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 500px;
  background-image: url(../images/pic2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -15px 15px 8px rgba(0, 0, 0, 0.5);
  background-position: center;
}

.music-page .music-pic-border {
  position: absolute;
  top: 550px;
  right: 0px;
  bottom: 0px;
  left: 310px;
  z-index: -1;
  height: 500px;
  width: 800px;
  border: 10px solid rgb(0, 132, 255);
}

/* Video Page */
.video-page {
  position: relative;
  z-index: 1;
  height: 140vh;
  background: #555;
}

.video-page h1 {
  text-align: center;
  font-size: 3em;
  padding: 7vh 0 5vh 0;
}

.video-page h2 {
  letter-spacing: 2px;
  text-align: center;
}

.video-page p {
  text-align: center;
  font-size: 24px;
  padding: 40px 140px;
}

.video-page li {
  text-align: center;
  list-style: none;
}

.video-page a {
  text-decoration: none;
  color: white;
  background: rgb(18, 1, 172);
  padding: 10px 35px;
  font-size: 20px;
  transition: 0.3s;
}

.video-page a:hover {
  background: rgb(5, 39, 235);
}

.video-pic {
  position: relative;
  margin: 40px auto;
  width: 1000px;
  height: 600px;
  background-image: url(../images/pic3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer */
footer {
  width: 100%;
  height: 50px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
